<h3>Update User</h3>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4" >
    <div [hidden]="submitted" style="width: 400px;">
      <form [formGroup]="formVal" #saveuser (ngSubmit)="update()">
          <div class="form-group">
              <label for="name">First Name</label>
              <input type="text" class="form-control" formControlName="firstName" data-toggle="tooltip" 
                 data-placement="right" title="Enter Student Name" >
                 <div class="alert alert-danger" *ngIf = "(FirstName.touched)" 
                style="margin-top: 5px;">
                  <span *ngIf="FirstName.errors.required">First Name is Required</span>
                                     
                </div>
               </div>
  
          <div class="form-group">
              <label for="name">Last Name</label>
              <input type="text" class="form-control" formControlName="lastName" 
                data-toggle="tooltip" data-placement="right" title="Enter Last Name">
                <div class="alert alert-danger" *ngIf = "(LastName.touched)" 
                style="margin-top: 5px;">
                  <span *ngIf="LastName.errors.required">Last Name is Required</span>
                                    
                </div>
          </div>
          <div class="form-group">
            <label for="name">User Address</label>
            <input type="text" class="form-control" formControlName="address" 
              data-toggle="tooltip" data-placement="right" title="Enter Address ">
              <div class="alert alert-danger" *ngIf = "(Address.touched)" 
              style="margin-top: 5px;">
                <span *ngIf="Address.errors.required">Address is Required</span>
                                  
              </div>
        </div>

        <div class="form-group">
            <label for="name">User Pin Code</label>
            <input type="text" class="form-control" formControlName="pinCode" 
              data-toggle="tooltip" data-placement="right" title="Enter PinCode ">
              <div class="alert alert-danger" *ngIf = "(PinCode.touched)" 
              style="margin-top: 5px;">
                <span *ngIf="PinCode.errors.required">PinCode is Required</span>
                                    
              </div>
        </div>

        <div class="form-group">
            <label for="name">Dob</label>
            <input type="date" class="form-control" formControlName="dob" 
              data-toggle="tooltip" data-placement="right" title="Enter Dob ">
              <div class="alert alert-danger" *ngIf = "(Dob.touched)" 
              style="margin-top: 5px;">
                <span *ngIf="Dob.errors.required">Dob is Required</span>
                                     
              </div>
        </div>

        <div class="form-group">
            <label for="name">Doj</label>
            <input type="date" class="form-control" formControlName="doj" 
              data-toggle="tooltip" data-placement="right" title="Enter Doj ">
              <div class="alert alert-danger" *ngIf = "(Doj.touched)" 
              style="margin-top: 5px;">
                <span *ngIf="Doj.errors.required">Doj is Required</span>
                                 
              </div>
        </div>
          <button type="submit" [routerLink]="['view-user']" class="btn mt-3 btn-success">Submit</button>
      </form>
  </div>
  </div>
  <div class="col-sm-4"></div>
</div>




