
  
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Users</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn fw-bold text-light btn-primary" mat-raised-button [routerLinkActive]="['activeLink']" [routerLink]="['view-user']" >View Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-3 fw-bold text-light btn btn-primary" [routerLinkActive]="['activeLink']" [routerLink]="['add-user']">Add User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-3 fw-bold text-light btn btn-primary" [routerLinkActive]="['activeLink']" [routerLink]="['bin']">Recycle Bin</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
<div >
  <router-outlet></router-outlet>
</div>